h2 {
    color: rgb(255, 0, 128);
    background-color: black;
}

h3 {
     color: crimson;
    background-color: black;
}

p {
    color: yellow;


}

.firstdiv {
    background-color: lawngreen;
}

div {
    background-color: black;
}

span {
    background-color: royalblue;
}

h1 {
     color: yellow;
}

h4 {
    color:white;
}

#myparagraph {
    color: royalblue;
}