body {
    font-family: Pacifico;
}

h1 {
    font-family: "Arial Black";
    text-align: center;
    font-size: 290%;
}

p{
    text-align: center;
    font-size: 2em;
}

#mehmet{
    border: 7px dotted black;
    padding: 30px;
    margin: 30px;
}

#kavak{
    border: 7px solid purple;
    margin: 100px;
}